*, *:before, *:after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

.nav-row {
  height: 80px;
  width: 1280px;
  background-color: #2E2D2B;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
  position: absolute;
  z-index: 1;
}

.nav-item a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans';
  font-size: 1em;
  font-weight: bold;
}

.nav-item i {
  zoom: 200%;
}

.page-header {
  height: 640px;
  width: 1280px;
  background: url("../img/header-img.jpg") center/cover no-repeat;
  padding: -40px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.header-content h1 {
  font-family: "Josefin Sans";
  font-size: 150px;
  color: #2E2D2B;
  margin-bottom: -55px;
}

.header-content h3 {
  font-family: "Dancing Script";
  font-size: 80px;
  color: white;
  text-shadow: 1px 2px 4px #000;
}

main {
  width: 1150px;
  background-color: #FEF9EC;
  margin: -80px auto 80px auto;
  padding: 50px 50px;
  display: flex;
  box-shadow: 0px 2px 4px -1px #000;
}

aside {
  height: 1175px;
  width: 350px;
  flex-grow: 1;
  background-color: #EFEADF;
  line-height: 2;
  box-shadow: 0px 0px 3px 1px lightgrey;
  padding: 35px;
}

.auth-pic {
  height: 200px;
  width: 200px;
  background: url('../img/author.jpeg') center/cover no-repeat;
  margin: auto;
  border-radius: 100px;
}

.aside-heading {
  font-family: 'josefin sans';
  font-size: 1.5em;
  font-weight: normal;
  text-align: center;
  box-shadow: 0px 3px 0px 0px #000;
  margin: 30px auto;
  padding-bottom: 30px;
}

#bio {
  margin-top: 40px;
}

.blog-row {
  display: flex;
  flex-flow: column nowrap;
  flex-grow: 3;
  justify-content: space-between;
  padding: 20px;
}

.item {
/*  height: 420px;*/
  width: 540px;
  background-color: white;
  box-shadow: 2px 2px 6px #000;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px;
  line-height: 2;
}

.meta {
  margin: -15px auto;
  height: 30px;
  width: 90%;
  box-shadow: 0px 3px 4px -3px; #000;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  text-transform: uppercase;
  font-family: 'josefin sans';
  font-size: .75em;
  font-weight: 600;
  position: relative;
  z-index: 3;
}
.icon-wrapper {
  height:20px;
}
.icon-wrapper i {
  margin-bottom: -30px;
  height: 50px;
  width: 50px;
  display: flex;
  background-color: #EFEADF;
  color: white;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 1.2em;
  border-radius: 25px;
  position: relative;
  top: 10px;
  left: 240px;
  z-index: 5;
}

.item h4 {
  font-family: 'josefin sans';
  font-size: 1.5em;
  font-weight: normal;
  margin-top: 40px;
}

.primary-txt {
  font-size: 1.1em;
}

#dino {
  height: 250px;
  width: 250px;
  background: url('../img/dino.jpg') center/cover no-repeat;
  float: right;
}

#xx {
  height: 250px;
  width: 250px;
  background: url('../img/xx.png') center/cover no-repeat;
  float: right;
}

#yhact-img {
  height: 250px;
  width: 250px;
  background: url('../img/yhact.jpg') center/cover no-repeat;
  float: right;
}

footer {
  height: 30px;
  width: 1280px;
  background-color: #2E2D2B;
  text-align: center;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  text-transform: uppercase;
  font-family: 'josefin sans';
  font-weight: 900;
  font-size: .7em;
}
